<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646351748277-d321jo71frqh4bjfhqqj4kbcc7asg8c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646351748277-d321jo71frqh4bjfhqqj4kbcc7asg8c1</string>
	<key>API_KEY</key>
	<string>AIzaSyBr4-BJJFZN8CpfcRdjrLWIyXrjThgVMyk</string>
	<key>GCM_SENDER_ID</key>
	<string>646351748277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aula.GameOfChats</string>
	<key>PROJECT_ID</key>
	<string>game-of-chats-798d0</string>
	<key>STORAGE_BUCKET</key>
	<string>game-of-chats-798d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:646351748277:ios:52362ed206a14432</string>
	<key>DATABASE_URL</key>
	<string>https://game-of-chats-798d0.firebaseio.com</string>
</dict>
</plist>